* {
  margin: 0;
  padding: 0;
}
/* Gallery css*/

/* Card css*/
.galleryTitle {
  padding-left: 20px;
}

.mainGalleryDiv {
  padding: 20px;
  display: column;
  column-count: 4;
  gap: 20px;
  pa
}

.column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .mainGalleryDiv {
    column-count: 3;
  }
}
@media screen and (max-width: 800px) {
  .mainGalleryDiv {
    column-count: 2;
  }
}
@media screen and (max-width: 600px) {
  .mainGalleryDiv {
    column-count: 1;
  }
}
