* {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1775px) {
  body {
    padding: 0 30px;
  }
}

/* Gallery css*/

.textGalleryImage {
  position: absolute;
  color: aliceblue;
  font-size: 1.3em;
  display: block;
  margin-inline-start: 10px;
}
.galleryTitle {
  padding-left: 20px;
}

.mainGalleryDiv {
  display: column;
  column-count: 4;
  gap: 20px;
}
.column {
  margin-bottom: 1rem;
}

.column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .mainGalleryDiv {
    column-count: 3;
  }
}
@media screen and (max-width: 800px) {
  .mainGalleryDiv {
    column-count: 2;
  }
}
@media screen and (max-width: 600px) {
  .mainGalleryDiv {
    column-count: 1;
  }
}

/*///////////////////// */

.mainCardDiv {
  min-height: 72vh;
  padding: 50px 0px;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: 1fr;
  position: relative;
}
.cardImage {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  filter: none;
  background-size: cover;
  background-image: none;
  position: relative;
  grid-column: 1/9;
  grid-row-start: 1;
  height: fit-content;
}

.nameCard {
  padding-bottom: 30px;
}
.titleContainer {
  background-color: white;
  margin-top: -1px;
  padding-left: 50px;
  grid-column: 8/15;
  grid-row-start: 1;
  width: fit-content;
  min-height: 0;
  min-width: 0;
  height: max-content;
  z-index: 3;
}
.locationCard {
  padding-bottom: 50px;
  color: #7d7d7d;
}

.mainTitle {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(195, 195, 195);
  margin: 2rem;
}

.cardDescription {
  position: relative;
  grid-column: 17/25;
  grid-row-start: 1;
  height: fit-content;
  margin-top: 13rem;
  color: #7d7d7d;
  width: 85%;
}

.numberBackground {
  font-size: 20rem;
  font-family: 'Libre Baskerville', serif;
  color: #f3f3f3;
  font-weight: 700;
  line-height: 150px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50px;
  right: 0%;
}
.sorurceDescriptionContainer {
  position: relative;
  grid-column: 17/25;
  grid-row-start: 1;
  height: fit-content;
}

@media screen and (max-width: 1280px) {
  .sorurceDescriptionContainer {
    grid-column: 16/25;
  }
}

@media screen and (max-width: 1200px) {
  .sorurceDescriptionContainer {
    grid-column: 15/25;
  }
}

@media screen and (max-width: 1140px) {
  .mainCardDiv {
    grid-template-columns: repeat(24, 1fr);
  }
  .cardImage {
    grid-column: 3/16;
  }
  .cardDescription {
    margin-top: 13rem;
    width: 100%;
  }
  .numberBackground {
    display: unset;
    right: unset;
    grid-row-start: 2;
    grid-column-start: 4;
    margin-top: 2rem;
  }
  .titleContainer {
    grid-column: 11 /24;
  }
  .sorurceDescriptionContainer {
    grid-column: 6/20;
    grid-row-start: 2;
  }
}

@media screen and (max-width: 990px) {
  .cardImage {
    grid-column: 1/16;
  }
  .cardDescription {
    margin-top: 13rem;
    width: 100%;
  }
  .numberBackground {
    display: unset;
    right: unset;
    grid-row-start: 2;
    grid-column-start: 4;
    margin-top: 2rem;
  }
  .titleContainer {
    grid-column: 9 /24;
  }
  .sorurceDescriptionContainer {
    grid-column: 6/20;
    grid-row-start: 2;
  }
}
@media screen and (max-width: 760px) {
  .cardImage {
    grid-column: 1/25;
  }
  .cardDescription {
    margin-top: 14rem;
    width: 100%;
  }
  .numberBackground {
    position: unset;
    font-size: 100px;
    grid-column-start: 1;
    grid-column-end: 25;
    justify-self: end;
    line-height: 100px;
    margin-top: 7rem;
  }
  .titleContainer {
    grid-column: 1 /22;
    grid-row-start: 2;
    width: 100%;
    margin-left: -1px;
    margin-top: -90px;
    padding: 20px;
  }
  .sorurceDescriptionContainer {
    grid-column: 1/25;
    grid-row-start: 2;
  }
}

/* //////////////////////////// */
