* {
  margin: 0;
  padding: 0;
}
/* Gallery css*/

.textGalleryImage {
  position: absolute;
  color: aliceblue;
}
.galleryTitle {
  padding-left: 20px;
}

.mainGalleryDiv {
  padding: 2rem;
  display: column;
  column-count: 4;
  gap: 20px;
}
.column {
  margin-bottom: 1rem;
}

.column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .mainGalleryDiv {
    column-count: 3;
  }
}
@media screen and (max-width: 800px) {
  .mainGalleryDiv {
    column-count: 2;
  }
}
@media screen and (max-width: 600px) {
  .mainGalleryDiv {
    column-count: 1;
  }
}

/*///////////////////// */

.mainCardDiv {
  display: flex;
  padding-top: 5rem;
  justify-content: space-between;
}
.cardImage {
  object-fit: cover;
  max-width: 50%;
  max-height: 50%;
  margin-left: 2rem;
}

.cardDescription {
  max-width: 25rem;
  text-align: left;
  padding-top: 10rem;
  margin-right: 5rem;
  color: gray;
}
.nameCard {
  background-color: rgb(255, 255, 255);
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  align-items: center;
  position: absolute;
  width: 10%;
  margin: auto;
  left: 45%;
  font-weight: 700;
}
.locationCard {
  font-size: small;
  color: gray;
  margin-top: 2rem;
  font-weight: 400;
}

.mainTitle {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(195, 195, 195);
  margin: 2rem;
}

/* //////////////////////////// */
